/bin/
/ECS_MANIFEST.MF
/SERVER_MANIFEST.MF
/CLIENT_MANIFEST.MF
/PersistentStorage-50000..rep1
/PersistentStorage-50000..ser
/PersistentStorage-50000.rep2
/PersistentStorage-50001..rep1
/PersistentStorage-50001..ser
/PersistentStorage-50001.rep2
/PersistentStorage-50002..rep1
/PersistentStorage-50002..ser
/PersistentStorage-50002.rep2
/PersistentStorage-50003..rep1
/PersistentStorage-50003..ser
/PersistentStorage-50003.rep2
/PersistentStorage-50004..rep1
/PersistentStorage-50004..ser
/PersistentStorage-50004.rep2
/PersistentStorage-50005..rep1
/PersistentStorage-50005..ser
/PersistentStorage-50005.rep2
/PersistentStorage-50006..rep1
/PersistentStorage-50006..ser
/PersistentStorage-50006.rep2
/PersistentStorage-50007..rep1
/PersistentStorage-50007..ser
/PersistentStorage-50007.rep2
/PersistentStorage-50010..rep1
/PersistentStorage-50010..ser
/PersistentStorage-50010.rep2
/logs/
